.vscode/**
.vscode-test/**
node_modules/**
out/**
!out/extension.js
src/**
.gitignore
.gitattributes
.hintrc
global.json
package-lock.json
tsconfig.json
vsc-extension-quickstart.md
tslint.json
media/**/*.map
media/css/bootstrap.css
media/css/bootstrap-grid*
media/css/bootstrap-reboot*
media/css/bootstrap-utilities*
media/css/bootstrap.rtl*
media/js/bootstrap.js
media/js/bootstrap.esm*
media/js/bootstrap.min.js
resources/datatables.css
resources/datatables.js
resources/jQuery-3.3.1/**
resources/DataTables-1.10.20/css/**
resources/DataTables-1.10.20/js/**
